{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h3>Favourable Arbitrages</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Coin</th>
                    <th>Buy</th>
                    <th>Sell</th>
                    <th>% gain</th>
                </tr>
                </thead>
                <tbody>
                {% for t in trades %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ t.coin }}</td>
                        <td>{{ t.buy.exchange }} (${{ t.buy.value }})</td>
                        <td>{{ t.sell.exchange }} (${{ t.sell.value }})</td>
                        <td class="font-weight-bold text-success">{{ t.gain|mul:100|floatformat:3 }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3>Registered Coins</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Shorthand</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for c in coins %}
                    <tr>
                        <td>{{ c.shorthand }}</td>
                        <td>{{ c.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <h3>Registered Exchanges</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Market page</th>
                    <th>Base xpath</th>
                    <th>Wait xpath</th>
                </tr>
                </thead>
                <tbody>
                {% for e in exchanges %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>
                            <button onclick="window.location.href='{{ e.website }}'" class="btn btn-warning"><i
                                    class="fas fa-external-link-alt"></i></button>
                        </td>
                        <td><a href="{{ e.markets_page }}">{{ e.markets_page }}</a></td>
                        <td class="text-monospace text-wrap">{{ e.base_xpath }}</td>
                        <td class="text-monospace text-wrap">{{ e.wait_xpath }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}