{% extends 'base.html' %}
{% block title %}Issues{% endblock %}
{% block content %}
    <table class="table">
        <thead class="thead-dark" style="white-space: nowrap">
        <tr>
            <th>Coin</th>
            <th>Exchange</th>
            <th>Add Rule</th>
            <th>Stack Trace</th>
        </tr>
        </thead>
        <tbody>
        {% for i in issues %}
        <tr>
            <td>{{ i.coin }}</td>
            <td>{{ i.exchange }}</td>
            <td><button onclick="window.location.href='{% url 'add_rule_form' i.coin i.exchange %}'" class="btn btn-warning"><i class="fas fa-bolt"></i></button></td>
            <td class="text-monospace">
                {{ i.trace }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}