{% extends 'base.html' %}
{% block title %}Add Coin{% endblock %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Coin</th>
            <th>Exchange</th>
            <th>Rule kind</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for r in rules %}
            <tr>
                <td>{{ r.forCoin.shorthand }}</td>
                <td>{{ r.forExchange.name }}</td>
                <td>{{ r.kind }}</td>
                <td>{{ r.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}