{% extends 'base.html' %}
{% block title %}Add Coin{% endblock %}
{% block content %}
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Coin</th>
            <th>Exchange</th>
            <th>Rule kind</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>BTC</td>
            <td>Crypto.com</td>
            <td>NTD</td>
            <td class="text-monospace"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}